-
	const heroInfoList = [
		"В частности, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от модели развития.",
		"Безусловно, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке стандартных подходов.",
		"Для современного мира курс на социально-ориентированный нац"
	]

include ./hero-info-list-item/hero-info-list-item

ul.hero-info-list
	each item in heroInfoList
		li.hero-info-list__item
			+hero-info-list-item(item)
