.header-services-link
	display flex
	text-decoration none
	&__title
		margin-right 8px
		fs(16, 24)
		color color_default
	&__icon
		display block
		width 25px
		height 25px
		background-color color_whiteLilac
		border-radius 50%
		svg
			width 24px


