.stages#stages
	.container.stages__container
		.stages__image
			img.image(src=path_assets+'/images/stages.svg', width='579', height='540', alt='')
		.stages__info
			include ./stages-info/stages-info
