.menu
	.menu__overlay(data-action='close-menu')
	.menu__side
		.menu__header
			include ./menu-header/menu-header
		.menu__list
			include ./menu-list/menu-list
		.menu__contacts
			include ./menu-contacts/menu-contacts
