.menu
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 100
	&--active
		display block
	&--active &__overlay
		animation fade .25s 1
	&--active &__side
		animation slide .25s 1
	.crios &--active &__overlay,
	.crios &--active &__side
		animation none
	&__overlay,
	&__side
		position absolute
		top 0
		left 0
		height 100%
	&__overlay
		width 100%
		background-color rgba(#000, .5)
	&__side
		pad(32px)
		gap(30px)
		width 258px
		background-color color_blank
		overflow-y auto
	&__header,
	&__list
		margin-bottom 48px

+mq(display_tp)
	.menu
		&__side
			pad(24px)
			gap(gap_laptop)
