.slides-item-info
	.slides-item-info__heading Сложно сказать, почему базовый вектор развития оправдал надежды граждан
	.slides-item-info__description Переход россиян на электронный формат трудовых книжек начался с 1 января 2020 года. Каждый работник вправе самостоятельно решить, будет ли он оформлять электронную трудовую или сохранит бумажный вариант.
	.slides-item-info__details Готовые решения и инструменты в данном разделе помогут автоматизировать процессы с теми сотрудниками, которые оформили электронную трудовую книжку.
