.slides-item-info
	&__heading
		margin-bottom 20px
		fs(20, 30)
		font-weight 600
	&__description,
	&__details
		max-width 390px
	&__description
		margin-bottom 34px
		fs(16, 24)
	&__details
		fs(14, 20)


+mq(960px)
	.slides-item-info
		&__description,
		&__details
			max-width 100%

+mq(display_ml)
	.slides-item-info
		&__heading
			fs(16, 20)
			font-weight 800
		&__description,
		&__details
			fs(12, 16)
			font-weight 600
		&__description
			margin-bottom 20px
