.stages-info
	padding-left 28px
	&__heading
		margin-bottom 40px
	&__description
		fs(16, 24)
		p:not(:last-child)
			margin-bottom 24px

+mq(display_tp)
	.stages-info
		padding-left 0

+mq(display_ml)
	.stages-info
		&__heading
			margin-bottom 30px
		&__description
			fs(14, 20)
			p:not(:last-child)
				margin-bottom 20px
