include ../../heading/heading

.stages-info
	.stages-info__heading
		+heading('two', 'Этапы внедрения')
	.stages-info__description
		p Акционеры крупнейших компаний могут быть подвергнуты целой серии независимых исследований. Каждый из нас понимает очевидную вещь: высокое качество позиционных исследований требует определения и уточнения благоприятных перспектив. Также как высококачественный прототип будущего проекта однозначно определяет каждого участника как способного принимать собственные решения касаемо как самодостаточных, так и внешне зависимых конце
		p Каждый из нас понимает очевидную вещь: высокое качество позиционных исследований требует определения и уточнения благоприятных перспектив.
