include ../../heading/heading

.hero-info
	.hero-info__heading
		+heading('two', 'Главное')
	.hero-info__description Сложно сказать, почему явные признаки победы институционализации призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований.
	.hero-info__list
		include ./hero-info-list/hero-info-list
