.hero-info
	max-width 558px
	&__heading
		margin-bottom 40px
	&__description
		margin-bottom 24px
		fs(20, 30)

+mq(display_tp)
	.hero-info
		max-width 100%

+mq(display_ml)
	.hero-info
		&__heading
			margin-bottom 30px
		&__description
			fs(16, 24)
