.header-services-popup-item
	display flex
	flex-direction column
	align-items center
	text-decoration none
	&__icon
		margin-bottom 16px
		display block
		width 36px
		height 36px
		border-radius 50%
		background-color color_botticelli
		transition background-color .25s ease-in-out
	&__title
		fs(13, 20)
		color color_default
		text-align center
		transition color .25s ease-in-out
	.no-touch &:hover &__icon
		background-color color_primary
	.no-touch &:hover &__title
		color color_primary

