extends ../../layouts/page

block data
	- const heading = 'Infostart'

block body
	include ../../components/header/header
	include ../../components/hero/hero
	include ../../components/stages/stages
	include ../../components/slides/slides
	include ../../components/feedback/feedback
