.slides-item
	padding-top 48px
	padding-bottom 64px
	gap(48px / 2)
	display flex
	color color_blank
	background-color color_blank
	background-image url(path_assets+'/images/slide-image-desktop.svg'), url(path_assets+'/images/slide-bg.svg')
	background-position right -14% bottom -190%, 0 0
	background-repeat no-repeat, no-repeat
	background-size auto 90%, auto 100%
	box-shadow shadow_main
	border-radius 20px
	&__info
		gap(48px / 2)
		column(6)

+mq(1100px)
	.slides-item
		background-position right -7% bottom -20%, 0 0
		background-size auto 66%, auto 100%

+mq(display_tl)
	.slides-item
		&__info
			column(7)

+mq(960px)
	.slides-item
		background-image url(path_assets+'/images/slide-image-mobile.svg')
		background-position left 20px top 30px
		background-size 246px 194px
		background-color color_primary
		&__info
			padding-top 120px
			column(12)

+mq(display_ml)
	.slides-item
		padding-top 0px
		padding-bottom 48px
		gap(20px / 2)
		background-position left -20px top 30px
		&__info
			padding-top 150px
			gap(20px / 2)
