.icon-button
	cursor pointer
	padding 0
	display block
	width 24px
	height 24px
	border none
	background-color transparent
	use
		transition fill .25s ease-in-out
	.no-touch &:hover use
		fill color_primary
