.header
	margin-bottom 100px
	background-color color_blank
	box-shadow shadow_main
	&__container
		pad(20px)
		display flex
		align-items center
		justify-content space-between
	&__burger
		display none
	&__menu
		margin-left 16px

+mq(display_tl)
	.header
		&__burger
			min-width 136px
			display block
		&__menu
			display none

+mq(display_tp)
	.header
		box-shadow none
		&__burger
			min-width auto
