.header
	margin-bottom 100px
	background-color color_blank
	box-shadow shadow_main
	&__container
		pad(20px)
		display flex
		align-items center
		justify-content space-between
	&__menu
		margin-left 16px
