.feedback
	margin-bottom 190px
	&__box
		pad(100px)
		gap(gap_laptop)
		display flex
		flex-direction column
		align-items center
		box-shadow shadow_main
		border-radius 20px
	&__heading
		margin-bottom 28px
	&__description
		margin-bottom 50px
		max-width 586px
		text-align center
		fs(14, 20)
	&__form
		width 100%
		max-width 790px

+mq(display_ml)
	.feedback
		&__box
			pad(44px)
