include ../heading/heading

.feedback
	.container.feedback__container
		.feedback__box
			.feedback__heading
				+heading('two', 'Оставьте заявку')
			.feedback__description Если вы не нашли подходящее решение под свою задачу, оставьте заявку на подбор. Поиск решения займет до 24 часов в рабочие дни.
			.feedback__form
				include ./feedback-form/feedback-form
