-
	const footerMenu = [
		{
			"id": "hero",
			"title": "Главная"
		},
		{
			"id": "stages",
			"title": "Этапы внедрения"
		},
		{
			"id": "slides",
			"title": "Слайдер"
		},
		{
			"id": "feedback",
			"title": "Обратная связь"
		},
		{
			"id": "",
			"title": "Трудовая деятельность"
		}
	]

include ./footer-menu-list/footer-menu-list

.footer-menu
	.footer-menu__list
		+footer-menu-list(footerMenu)
	.footer-menu__list
		+footer-menu-list(footerMenu)
