.footer
	box-shadow shadow_second
	&__container,
	&__contacts
		gap(gap_laptop / 2)
	&__container
		pad(72px)
	&__main
		margin-bottom 84px
		display flex
		justify-content space-between
	&__menu
		column(8)
	&__contacts
		column(4)
