include ../icon/icon

ul.socials
	li.socials__item
		a.socials__button(href='#')
			+icon('twitter')
	li.socials__item
		a.socials__button(href='#')
			+icon('facebook')
	li.socials__item
		a.socials__button(href='#')
			+icon('instagram')
	li.socials__item
		a.socials__button(href='#')
			+icon('vkontakte')
	li.socials__item
		a.socials__button(href='#')
			+icon('telegram')
