gap_laptop = 24px
gap_touch  = 12px

display_mp = 320px
display_ml = 500px
display_ts = 640px
display_tp = 768px
display_tl = 1024px
display_lt = 1196px + (gap_laptop * 2)

path_assets = '/bitrix/templates/infostart/assets'

font_default = 'Inter', Helvetica, Arial, Sans-Serif

color_blank   = #ffffff
color_default = #4d5769
color_primary = #5096ff
color_whiteLilac = #edf1f8
color_iron = #d3d6db
color_melrose = #afc9ff
color_botticelli = #d6deec
color_mandy = #dc5a66
color_chambray =#3b5998

shadow_main = 0px 8px 37px rgba(#000, .07)
shadow_second = 0px 8px 37px rgba(#000, .14)
