.header-menu
	&__list
		display flex
	&__item:not(:last-child)
		margin-right 40px
	&__link
		fs(16, 24)
		color color_default
		text-decoration none
		transition color .25s ease-in-out
		.no-touch &:hover
			color color_primary
