include ../components/app/config

-
	const headConfig = {
		fonts: [
			'inter-400-regular',
			'inter-600-semibold',
			'inter-700-bold',
			'inter-800-extrabold',
		],
	}

block data
	- const heading = ''

doctype html
html(lang="ru")
	head
		title= heading
		meta(charset="UTF-8")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Security-Policy", content="upgrade-insecure-requests")
		include ../static/favicon/favicon.html
		each font in headConfig.fonts
			link(rel="preload" href=path_assets+"/fonts/"+font+".woff2" as="font" crossorigin="anonymous")
	body
		block body
